# Dependencies
node_modules
.pnpm-store

# Build output
dist
build

# Prisma
prisma/*.db
prisma/migrations/*/steps.json
prisma/migrations/*/schema.prisma.tmp

# Env & config
.env
.env.*
*.local

# VCS
.git
.gitignore

# Logs
npm-debug.log
pnpm-debug.log
yarn-debug.log
yarn-error.log

# Docker
Dockerfile
docker-compose.yml